/**
 * App Root Component Styles
 * STRICT RESPONSIVE AUDIT - FIXED VERSION
 */

:host {
  display: block;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  overflow-y: visible;
  box-sizing: border-box;
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden !important;
  overflow-y: visible;
  box-sizing: border-box;
  position: relative;
}

