/* Uses global landing theme variables from main.scss */

.ressources-page {
  min-height: 100vh;
  background: var(--bg-page);
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

.ressources-page__main {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}
